certifi
chardet
click
cmake
decorator
dlib
face-recognition
face-recognition-models
Flask
idna
imageio
imageio-ffmpeg
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
Werkzeug
wincertstore
zipp
